.timeslot ul {
    list-style: none;
    padding: 0;
  }
  
  .timeslot button {
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
  }

  .timeslot-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
  }

  @media (min-width: 768px) {
    .timeslot-grid {
      grid-template-columns: 1fr 1fr 1fr 1fr; /* Half the screen on bigger devices */
    }
  }
  
  .timeslot button.selected {
    background-color: #eee;
  }
  
  .timeslot button.available {
    background-color: green;
  }
  
  .timeslot button.unavailable {
    background-color: red;
  }